* {
  box-sizing: border-box;
}

html,
body,
.main,
#root {
  width: 100%;
  height: 97.5%;
  margin: 0;
  position: absolute;
  padding: 0;
}

body {
  background: rgb(0, 0, 0);
}
.text {
  width: 100%;
  font-size: 60px;
  position: absolute;
  font-weight: 900;
  height: 100%;
  color: rgb(255, 255, 255);
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boom {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 60px;
  position: absolute;
  font-weight: 900;
  width: 100%;
  color: white;
}

.about {
  transform: rotate(-90deg);
  width: 46%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.general {
  transform: translate(190px) rotate(90deg);
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.poss {
  display: flex;
  width: 100%;
  height: 100%;
}
